#counter{
   
        text-align: center;
        
        & Button{
            width: 120px;
            padding: 7px;
            font-size: 23px;
            border-radius: 10px;
            box-shadow: 2px 3px black;
        }
        & h1{
            font-size: 38px;
        }
    }
body{
    background-image: url('https://cdn.pixabay.com/photo/2016/10/22/17/06/gradient-1761190_640.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
